<br>
<div class="row">
	<div class="col-sm-12">

		<% @organizations.each do |organization| %>
		<div class="col-sm-3 org-box">
			<div class="org-box-wrapper">
				<div class="title"><a href=""><%= organization.name %></a></div>
				<div class="info">
					<ul>
						<li class="members"><%= User.all.where(organization_id: organization.id).count > 0 ? User.all.where(organization_id: organization.id).count : 0 %> members</li>
						<li></li>
						<% if @currentUser.requests.where(org_id: organization.id).where(status: 0).exists? %>
							<li>
								<button class="btn btn-warning">Pending</button>
							</li>
						<% elsif @currentUser.requests.where(org_id: organization.id).where(status: 1).exists? %>
							<li>
								<button class="btn btn-success">Member</button>
							</li>
						<% else %>
							<li>
								<%= link_to "Request to join", org_join_request_dashboard_index_path(:id => organization.id), :class => "btn btn-info" %>
							</li>
						<% end %>
					</ul>
				</div>
			</div>
		</div>
		<% end %>
	</div>
</div>