<div id="front">
	<h1 class="title">CONSILIUM</h1>
	<h4 class="subtitle">A peer to peer based assessment program</h4>
	<btn class="btn btn-primary">Learn More</btn>

	<%= image_tag("home_bg.svg", :class => "home_bg", :alt => "home_bg") %>
</div>