<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /></pre>
<h1><%= @org_name %> has been created.</h1>
<pre>
Please go to <a href="">Consilum home page</a> and use the credentials below to login. <br>
user id: <%= @to_email %> <br>
user password: <%= @new_password %> 
<br><br>
This email was sent out to you, because you are subscribed to the postbox-mailing-list.
If you want to unscribscribe, please use this url: <a href="">Unsubscribe</a>.