ul li{list-style: none;}
h1,h2,h3,h4,h5,h6{color: #272727;}
a, a:hover{
	color: #272727;
	text-decoration: none;
}
.btn,
input{border-radius: 0px !important;}
.btn:hover{
	background: transparent;
	color: inherit;
}


body{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}

.consilium-btn, .consilium-btn:hover{
	background: #0f52a7;
    color: #fff !important;
    text-transform: uppercase;
}

.navbar-top{
	background: #0e52a7;
    color: #fff;
    border-radius: 0px !important;
    text-transform: uppercase;

    a, a:hover{
    	color: #fff;
    	background: transparent !important;
    }

    ul li{font-size: 11px;}
}

#sign-in,
#sign-up{
	margin: 0% 40%;

	#title{
    	text-align: center;
    	margin-bottom: 2em;
	}
	.consilum-input{
		width: 100%;
		height: 40px;
	} 
}
#extra-links{
	font-size: 12px;
	text-transform: uppercase;
}